@keyframes matrixAnimation {
  0% {
    opacity: 0;
    transform: rotateY(90deg) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
  }
}

.animate-matrix {
  animation: matrixAnimation 0.5s ease-in-out forwards;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}