<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" [routerLink]="['/']">
            Code.gen
        </a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li>
                <app-theme-control></app-theme-control>
            </li>
            <li *ngIf="userInfo.username"><a [routerLink]="['/payments']">
                    Payments
                </a></li>
            <li *ngIf="userInfo.username">
                <details>
                    <summary>
                        {{ userInfo.username }}
                    </summary>
                    <ul class="bg-base-100 rounded-t-none p-2">
                        <li>
                            <a [routerLink]="['/profile']">
                                Profile
                            </a>
                        </li>
                        <li><a (click)="onLogout()">
                                Logout
                            </a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</div>